{% extends "base.html" %}
{% block title %} Afficher USER {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Utilisateurs inscrits.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
				<p><a class="btn btn-primary" href="{{ url_for('users_ajouter_wtf') }}" role="button">Ajouter un utilisateur</a></p>
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                        <th class="align-middle">
							Email
                        </th>
						<th class="align-middle">
							Mdp (hash + salt)
                        </th>
						<th class="align-middle">
							Dernière connection
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_user }}
						</td>
						<td class="align-middle">
							{{ row.userName }}
						</td>
						<td class="align-middle">
							{{ row.userEmail }}
						</td>
						<td class="align-middle">
							{{ row.userPassword|truncate(30, true) }}
						</td>
						<td class="align-middle">
							{{ row.lastLogin }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('users_update_wtf', id_users_btn_edit_html=row.id_user) }}" role="button">📝</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('users_delete_wtf', id_users_btn_delete_html=row.id_user) }}" role="button">🗑️
</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun utilisateur.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('users_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

