{% extends "base.html" %}
{% block title %} Ajouter un users (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter un nouvel utilisateur
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.nom_users_wtf.label }}<br>
						{{ form.nom_users_wtf(size=32) }}<br>
						{% for error in form.nom_users_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<div>
						{{ form.email_users_wtf.label }}<br>
						{{ form.email_users_wtf(size=32) }}<br>
						{% for error in form.email_users_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<p>
						{{ form.pass_users_wtf.label }}<br>
						{{ form.pass_users_wtf(size=32) }}<br>
						{% for error in form.pass_users_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.pass2nd_users_wtf.label }}<br>
						{{ form.pass2nd_users_wtf(size=32) }}<br>
						{% for error in form.pass2nd_users_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

