<!DOCTYPE html>
<html>

<head>

	<title>404 Document introuvable</title>
    <!-- FG Importation police Zen -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- FG Favicon personalisée -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- FG Embedded style sheet -->
    <style>
    body {
		background-color: #f2f0f1;
		font-family: 'Roboto', sans-serif;
    }

    a {
    text-decoration: none;
    color: #000;
    }

    #content {
      display: block;
      margin: 60px auto 0;
      max-width: 540px;
    }
    .row {
    display: flex;
    flex-direction: row;
    }

    .text {
    margin-left:30px;
    display: flex;
    flex-direction: column;
    }

    .erreur {
    color:#FF4136;
    font-weight:bold;margin-top:100px;
    font-size: 24px;
    }

    .linkback {
    background-color:#CCC;
    padding:10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }

    </style>
</head>

<body>
    <div id="content">
        <div class="row">
            <img src="/static/images/404_panda.png" alt="404 perso" />
            <div class="text">
                <p class="erreur"><span style="color:#000;">Erreur 404</span> <br>Document introuvable</p>
                <p><strong>Je ne l'ai pas mangé...</strong><br>
                Promis!</p>
            </div>
        </div>
    </div>
    <p style="text-align: center; "><a class="linkback" href="{{ url_for('librairie') }}" >Revenir à la 📑 GED</a></p>
</body>

</html>
