<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}GED > Flow{% endblock %}</title>

	<!-- Bootstrap CSS en local -->
	<!-- OM 2020.05.04 OM JE PREFERE GARDER MES FICHIERS CSS ET JS DANS UN REPERTOIRE "EN LOCAL"
        SINON ON EST TOUJOURS DEPENDANT D'UNE LIAISON A L'INTERNET. -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>

	<script src="{{ url_for('static', filename='datatables/datatables.min.js') }}"></script>




	<!-- Stylesheets en local -->
	<!-- https://bootswatch.com/darkly/ -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/darkly/bootstrap.min.css') }}">-->

	<!-- https://bootswatch.com/superhero/ -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/superhero/bootstrap.min.css') }}"> -->

	<!-- Flo ajout du theme sandstone https://bootswatch.com/sandstone/ -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/sandstone/bootstrap.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='datatables/datatables.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	{% block head %}
	{% endblock %}
</head>
<body>


{% block header %} {% endblock %}

{% include 'flash_messages.html' %}
<!-- Navigation -->
<div class="container">
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ url_for('panel') }}">📑 GED Administration</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('panel') }}">Panel d'admin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('dragorder') }}">Gérer les catégories</a>
					</li>
					<li class="nav-item">
						<!--		Afficher la liste des documents dans l'ordre (ASC) et tous les documents (0)-->
						 <a class="nav-link" href="{{ url_for('films_genres_afficher', id_film_sel=0) }}">Gérer les Documents</a>
					</li>
					<li class="nav-item">
						<!--		Afficher la liste des utilisateurs dans l'ordre (ASC) et tous les users (0)-->
						<a class="nav-link" href="{{ url_for('users_afficher', order_by='ASC', id_users_sel=0) }}">Gérer les Utilisateurs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="404.html">404</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" style="color:#72b352;" href="{{ url_for('librairie') }}" target="_blank">Revenir à la GED</a>
					</li>
				</ul>
				</div>

					<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span style="font-size:18px;">⚙</span>️
						</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item" href="#">Sans lien</a></li>
							<li><a class="dropdown-item" href="{{ url_for('erreurs') }}">Erreurs</a></li>
							<li><a class="dropdown-item" href="{{ url_for('genres_afficher', order_by='ASC', id_genre_sel=0) }}">Old.Cat</a></li>
							<li><a class="dropdown-item" href="{{ url_for('documents_afficher', order_by='ASC', id_genre_sel=0) }}">Old.Docs</a></li>
							<li><a class="dropdown-item" href="{{ url_for('florians_afficher', order_by='ASC', id_florians_sel=0) }}">Florians</a></li>
							<li><a class="dropdown-item" href="{{ url_for('personnes_taille_dict') }}">Démo "TAILLE"</a></li>
							<li><a class="dropdown-item" href="{{ url_for('route_hommage_a_u_x_V_ictim_es_du_monstre_du_mod_1_0_4') }}">Route "essai"</a></li>
							<li><a class="dropdown-item" href="{{ url_for('index') }}">Démo index (sans template)</a></li>
							<li><a class="dropdown-item" href="{{ url_for('mon_premier_wtform') }}">Essai form</a></li>
							<li><a class="dropdown-item" href="{{ url_for('demo_select_wtf') }}">Essai DROPDOWN</a></li>
						</ul>
					</li>
						<li class="nav-item">
						<a class="nav-link" style="background:#d9534f;" href="{{ url_for('logout') }}">Se déconnecter</a>
					</li>

					</ul>

		</div>
	</nav>
</div>

<!-- End Navigation -->

{% block body %}{% endblock %}

{% block javascript %}

{% endblock %}
{% include 'footer.html' %}
</body>
</html>
