<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Drag & Drop - Catégorie order</title>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/sandstone/bootstrap.min.css') }}">
<style>
body {
font-family: Arial, Helvetica, sans-serif;
background-color:#f2f0f1;
}
#drop a {
text-decoration:none;
}
#drop ul {
 padding:0px;
 margin: 0px;
}
#response {
 padding:10px;
 background-color:#9F9;
 border:2px solid #396;
 margin-bottom:20px;
}
#list li {
 margin: 0 0 3px;
 padding:20px;text-align:left;
 background-color:#111111;
 color:#fff;
 list-style: none;
 border: #CCCCCC solid 1px;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
   function slideout(){
    setTimeout(function(){
      $("#response").slideUp("slow", function () {
    });
    }, 2000);
  }

  $("#response").hide();
  $(function() {
    $("#list ul").sortable({ opacity: 0.8, cursor: 'move', update: function() {
      var item_order = new Array();
      $('ul.reorder li').each(function() {
          item_order.push($(this).attr("id"));
          console.log("test");
      });
      var order_string = 'order='+item_order;
      $.ajax({
        method: "POST",
        url: "/updateList",
        data: order_string,
        cache: false,
        success: function(data){
            $("#response").html(data);
            $("#response").slideDown('slow');
            slideout();
            console.log(order_string);
        }
    });
    }
    });
   });

});
</script>
</head>
<body>
<center id="drop">
<h1 style="margin:30px auto; color:#333;">Drag & Drop catégories</h1>
<div style="width:500px;">
    <a class="form-control btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter une catégorie</a>
 <div id="list">
 <div id="response"> </div>
   <ul class="reorder">
    {% for row in dragdrop %}
     <li id="{{row.id_cat}}">{{row.catName}}
       <div class="clear"></div>
         <div style="float:right; margin-top:-20px; margin-left:5px;"><a href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.id_cat) }}">🗑️</a></div>
         <div style="float:right; margin-top:-20px;"><a href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.id_cat) }}">📝</a></div>
     </li>
     {% endfor %}
   </ul>
 </div>
</div>
</center>
</body>
</html>
