{% extends "base.html" %}
{% block title %} Catégories de la GED {% endblock %}
{% block body %}
<style>
#drop a {
text-decoration:none;
}
#drop ul {
 padding:0px;
 margin: 0px;
}
#response {
 padding:10px;
 background-color:#9F9;
 border:2px solid #396;
 margin-bottom:20px;
}
#list li {
 margin: 0 0 3px;
 padding:20px;text-align:left;
 background-color:#111111;
 color:#fff;
 list-style: none;
 border: #CCCCCC solid 1px;
}
</style>

<div class="container">
	<div class="row">
		<div class="col-md-12">

		        <center id="drop">
                    <h1 style="margin:30px auto;">Gestion des Catégories</h1>
                    <p><span class="badge bg-info">Info</span> Vous avez la possibilité de réarranger les catégories<br> par Drag & Drop, c'est sympa essayez !</p>

                    <div style="width:500px;">
                        <a class="form-control btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter une catégorie</a>
                     <div id="list">
                     <div id="response"> </div>
                       <ul class="reorder">
                        {% for row in dragdrop %}
                         <li id="{{row.id_cat}}">{{row.catName}}
                           <div class="clear"></div>
                             <div style="float:right; margin-top:-20px; margin-left:5px;"><a href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.id_cat) }}">🗑️</a></div>
                             <div style="float:right; margin-top:-20px;"><a href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.id_cat) }}">📝</a></div>
                         </li>
                         {% endfor %}
                       </ul>
                     </div>
                    </div>
                </center>

        </div>
    </div>
</div>

<center id="drop">

</center>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script type="text/javascript">
$(document).ready(function(){
   function slideout(){
    setTimeout(function(){
      $("#response").slideUp("slow", function () {
    });
    }, 2000);
  }

  $("#response").hide();
  $(function() {
    $("#list ul").sortable({ opacity: 0.8, cursor: 'move', update: function() {
      var item_order = new Array();
      $('ul.reorder li').each(function() {
          item_order.push($(this).attr("id"));
          console.log("test");
      });
      var order_string = 'order='+item_order;
      $.ajax({
        method: "POST",
        url: "/updateList",
        data: order_string,
        cache: false,
        success: function(data){
            $("#response").html(data);
            $("#response").slideDown('slow');
            slideout();
            console.log(order_string);
        }
    });
    }
    });
   });

});
</script>
{% endblock %}
