{% extends "base.html" %}
{% block title %} Erreurs dans la GED {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<center>
			<h1 style="margin:40px 0;">
				🛑 Erreurs BUG Attention 🔞<br>
			</h1>
			</center>
		</div>
	</div>
</div>
{% endblock %}
