<footer class="mt-auto py-2">
  <div class="container-fluid">
      <center>
        <div class="copyright_flo" style="margin-top:50px;">
              <p>
                🐼 GEDpanda &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                | Made in
                <i
                  class="fas fa-plus-square"
                  style="color: #e44042; padding: 0 4px;"
                ></i>
                with
                <i
                  class="fas fa-heart"
                  style="color: #e44042; padding: 0 4px;"
                ></i>
                by
                <a href="http://fl0.me" target="_blank" style="color:#0074D9; text-decoration:none;">Florian G.</a>
              </p>
                <p style="font-size:11px;">Gestion Electronique de Documents, dernière MAJ : 04.06.2021</p>
            </div>
  </div>
      </center>
  </div>
</footer>
