<!DOCTYPE html>
<html>

<head>

	<title>Attention</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
    body {
		background-color: #d8202c;
        font-family: 'Roboto', sans-serif;    }

    a {
    text-decoration: none;
    color: #000;
    }

    #content {
      display: block;
      margin: 60px auto 0;
      max-width: 740px;
    }
    .row {
    display: flex;
    flex-direction: row;
    }

    .text {
    margin-left:30px;
    display: flex;
    flex-direction: column;
    }

    .erreur {
    color:#FFF;
    font-weight:bold;margin-top:50px;
    font-size: 34px;
    }

    .erreur-mini {
    color:#FFF;
    font-weight:bold;
    font-size: 24px;
    }

    .linkback {
    background-color:#000;
    color:#FFF;
    padding:10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    }

    </style>
</head>

<body>
    <div id="content">
        <div class="row">
            <img src="/static/images/bad-panda.jpg" alt="Panda méchant" />
            <div class="text">
			    <h2 class="erreur">Vous avez tenté de hacker le système 🚨</h2>
                <p><strong>👮 Vous allez être poursuivis !!!</strong></p>
                <p>
                {% for row in content %}
                    {% if loop.index <= 1 %}
                    Signature hexadécimale :<br>
                    <span class="erreur-mini">{{row.hex}}</span><br>
                    {% endif %}
                {% endfor %}
                    Type de fichier envoyé :
                {% for row in content %}
                    <span style="color:#FFF;">{{row.file_extension}}</span>
                {% endfor %}<br>
                </p>

                <p>Type attendu : {% for ext in fileext %}
                    <span style="color:#FFF;">{{ext}}</span>
                {% endfor %}<br>Signature :
                    {% for row in check %}
                    <span style="color:#FFF;">{{row}}</span>
                {% endfor %}
                </p>

            </div>
        </div>
    </div>
    <p style="text-align: center; "><a class="linkback" href="{{ url_for('librairie') }}" >Revenir à la 📑 GED</a></p>
</body>

</html>
