{% extends "base.html" %}
{% block title %} Panel d'administration de la GED {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="margin:40px 0;">
				📑 Panel d'administration de la GED<br>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">

			<div class="card mb-3">
  <h3 class="card-header">Bienvenue <span style="color:red;">{{ session['username'] }}</span></h3>
			<div class="card-body">
			<ul class="list-group">
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				Nombre de documents
				<span class="badge bg-primary rounded-pill">{% for row in nbdoc %}{{row.nombre}}{% endfor %}</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				Nombre de catégories
				<span class="badge bg-primary rounded-pill">{% for row in nbcat %}{{row.nombre}}{% endfor %}</span>
			  </li>
			  <li class="list-group-item d-flex justify-content-between align-items-center">
				Nombre d'utilisateurs
				<span class="badge bg-primary rounded-pill">{% for row in nbuser %}{{row.nombre}}{% endfor %}</span>
			  </li>
			</ul>

				</div>
				<div class="card-body">
			<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('documents_ajouter_wtf') }}" role="button">Ajouter un document</a>
					<a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('films_genres_afficher', id_film_sel=0) }}" role="button">Gérer les documents</a>

		  </div>
			</div>

			<div class="card mb-3">
  			<h3 class="card-header">Revenir à la GED   &nbsp; &nbsp; &nbsp;[Frontend]</h3>
		  <div class="card-body">
			  <a href="{{ url_for('librairie') }}">
			<img src="/static/images/frontend_screen.png" alt="GED Frontend" width="100%" />
			  </a>
		  </div>

		  <div class="card-footer text-muted">

		  </div>
		</div>

		</div>
		<div class="col">

			<div class="card mb-3">
					<h3 class="card-header">Répartition des fichiers</h3>
				  <div class="card-body">
					<h5 class="card-title">L'ensemble des fichiers par types</h5>
					<h6 class="card-subtitle text-muted">Cliquer sur un type pour le cacher</h6>
				  </div>
				  <canvas id="flowGrapher" width="400" height="420"></canvas>
				  <div class="card-body">
					<p class="card-text">Exemple d'intégration de Chart.js avec une requête SQL COUNT GROUPBY sur 2 tables.</p>
				  </div>

				  <div class="card-footer text-muted">

				  </div>
			</div>
		</div>

		<div class="col">
			<h3>Version Gratuite</h3>
			<h5 class="card-title">Documents maximum</h5>
			<div class="progress">
			  <div id="progress-docs" class="progress-bar" role="progressbar" aria-valuenow="{% for row in nbdoc %}{{row.nombre}}{% endfor %}" aria-valuemin="0" aria-valuemax="30"></div>
			</div>
		  	<p class="card-text">Vous êtes à {% for row in nbdoc %}{{row.nombre}}{% endfor %} documents sur 30</p>

			<h5 class="card-title">Utilisateurs maximum</h5>
			<div class="progress">
			  <div id="progress-users" class="progress-bar bg-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="3"></div>
			</div>
		  	<p class="card-text">Vous êtes à {% for row in nbuser %}{{row.nombre}}{% endfor %} utilisateurs sur 3</p>

			<div class="alert alert-dismissible alert-warning">
			  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			  <h4 class="alert-heading">Passer à la version Pro</h4>
			  <p class="mb-0">Cela permet d’avoir accès à de nouvelles fonctionnalités mais surtout de mieux maitriser l'ensemble de vos documents avec d’avantage de liberté. Vous serez plus heureux, plus riche, plus beau, chanceux en amour et aux jeux <br/><a href="#" class="alert-link">Avec la Version PRO</a>.</p>
			</div>

			<div class="card mb-3">
					<h3 class="card-header">5 derniers documents</h3>


						<ul class="nav nav-pills flex-column">

							{% for row in lastdocs %}

						  <li class="nav-item">
							 <a class="nav-link" href="#"> <span class="badge bg-danger" style="background-color: rgba({{row.fileRGB}}, 1.0) !important;">{{row.fileType}}</span> {{row.docName}}</a>
						  </li>

							{% endfor %}

						</ul>


				  <div class="card-footer text-muted">

				  </div>
			</div>


		</div>
	  </div>
		<script>
		//Flo Récupère les valeurs de aria-value pour construire le barre de progression documents
		var docsValuenow = document.getElementById('progress-docs').getAttribute('aria-valuenow');
		var docsValuemax = document.getElementById('progress-docs').getAttribute('aria-valuemax');
		//Calcul le pourcentage
		var docsPourcent = parseInt((docsValuenow/docsValuemax)*100);

		console.log('Flo > ' + docsPourcent + ' % de doc max utilisé');

		$("#progress-docs").css("width", docsPourcent +'%');

		//Idem pour barre de progression utilisateurs, ce module me tue à petit feu
		var usersValuenow = document.getElementById('progress-users').getAttribute('aria-valuenow');
		var usersValuemax = document.getElementById('progress-users').getAttribute('aria-valuemax');
		var usersPourcent = parseInt((usersValuenow/usersValuemax)*100);

		console.log(usersPourcent);

		$("#progress-users").css("width", usersPourcent +'%');


		//Flo Génération du Graphique
		var ctx = document.getElementById('flowGrapher').getContext('2d');
		var flowGrapher = new Chart(ctx, {
			type: 'doughnut',
			data: {
				labels: [{% for row in charts %}'{{row.fileType}}',{% endfor %}],
				datasets: [{
					label: 'Nb de type',
					data: [{% for row in charts %}{{row.fileNumber}},{% endfor %}],
					backgroundColor: [
						{% for row in charts %}'rgba({{row.fileRGB}}, 0.6)',{% endfor %}
						'rgba(255, 206, 86, 0.3)',
						'rgba(153, 102, 255, 0.3)'
					],
					borderColor: [
						{% for row in charts %}'rgba({{row.fileRGB}}, 0.8)',{% endfor %}
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
					borderWidth: 1
				}]
			},
			options: {
			responsive: true,
			plugins: {
			  legend: {
				position: 'top',
			  },
			  title: {
				display: false,
				text: 'Répartition des types de fichiers'
			  }
			}
		  },
		  options: {
				plugins: {
					legend: {
						labels: {
							font: {
								size: 18
							}
						}
					}
				},
			},

		});
		</script>
</div>
{% endblock %}
