<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GED par Flo</title>
  <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-4/sandstone/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <style>
*,
::before,
::after {
  box-sizing: border-box;
}

.konami {
  color:#FFF;
  background: url("static/images/panda-konami.jpg") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color:#000;
}

.konami .masonry-item {
  opacity: 0.1;
}

.konami .masonry-item:hover {
  opacity: 0.9;
}

.konami .category-header {
  background-color: #181847;
}

.konami aside {
  background-image: linear-gradient(45deg, #000, #353536);
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f2f0f1;
  color: #333333;
  /*Flo fix overflow to x */
  overflow-x: hidden;
  display: flex;
}
#check {
  display: none;
}
#check + label {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#check + label::before {
  position: absolute;
  content: "";
  top: -1em;
  left: -1em;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 61, 0.5);
  transform-origin: 50% 50%;
  transform: scale(1.3);
  visibility: hidden;
  opacity: 0;
  transition: all 250ms linear;
}
#check + label svg {
  margin-right: 0.5em;
}
#check + label svg path {
  transform-origin: 35% 50%;
  transition: transform 166.6666666667ms cubic-bezier(0.06, 0.63, 0.91, 0.66);
}
#check:checked + label ~ aside {
  transform: none;
}
#check:checked + label::before {
  left: calc(25vw - 1em);
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
@media (max-width: 576px) {
  #check:checked + label::before {
    left: calc(50vw - 1em);
  }
}
#check:checked + label svg #one {
  transform: rotate(45deg);
}
#check:checked + label svg #two {
  transform: rotate(-45deg);
}
#check:checked + label ~ article {
  z-index: -1;
  transform: translateX(25vw) scale(0.7);
  border-radius: 0.25em;
  user-select: none;
  pointer-events: none;
}

aside,
article {
  padding: 2.5em 1em 0.25em;
  transition: all 250ms cubic-bezier(0.06, 0.63, 0.91, 0.66);
}

aside {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  padding: 80px 20px 0 ;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #0074D9, #4fc3f7);


  transform: translateX(-100%);
}
@media (max-width: 576px) {
  aside {
    width: 50vw;
  }
}

article {
  position: relative;
  transform-origin: 10% 50%;
  width: 100%;
}
article .wrapper {
  margin: auto;
  padding: 2em;
  max-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article .wrapper h1 {
  margin: 0;
}
article .wrapper .footer {
  text-align: right;
}

.masonry-wrapper {
  padding: 1.5em;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px,1fr));
  grid-gap: 10px;
  grid-auto-rows: 0;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, minmax(100px,1fr));
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    grid-template-columns: repeat(3, minmax(100px,1fr));
  }
}
.masonry-item, .masonry-content {
  border-radius: 4px;
  overflow: hidden;
}

.category-header {
  background-color: #0074D9;
  color:#FFF;
  min-height: 30px;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.1rem 1rem;
}

.category-header p {
  margin-top:15px;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
  transition: filter .25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
}
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  color: #111111;
  background-color: #f9f9f9;
}
.masonry-title, .masonry-description {
  margin: 0;
}
.masonry-title {
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
}
.masonry-description {
  padding: 1.5rem;
  font-size: 1.1rem;
}

.copyright_flo {
  font-size: .75em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: -1.5em;
  transition: opacity 1s ease-in-out;
}

.copyright_flo a {
  color:#0074D9;
  text-decoration:none;
}

.ged-document a {
text-decoration: none;
color:#333;
font-size: 17px;
/* background-color: blanchedalmond; */
}

.ged-document a p {
  position: relative;
  display: inline-block;
  /*font-weight: 800;
  color: royalblue;*/
  overflow: hidden;
  /*background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);*/
  background: linear-gradient(to right, royalblue, royalblue 50%, #242526 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; 
}

.ged-document a:hover p {
  background-position: 0 100%;
}

@-webkit-keyframes pandadance {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: pandadance;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.hide-dab {
  display: none;
}

.shake:hover + .hide-dab {
  display: block;
  font-weight:800;
}


  </style>
</head>
<body>
<input id="check" type="checkbox"/>
<label for="check">
  <svg viewBox="0 0 30 30" width="30" height="45">
    <path id="one" d="M4 10h22M4" stroke="#000" stroke-width="2" stroke-linecap="round"></path>
    <path id="two" d="M4 20h22M4" stroke="#000" stroke-width="2" stroke-linecap="round"></path>
    <path id="two" d="M4 20h22M4" stroke="#000" stroke-width="2" stroke-linecap="round"></path>
  </svg>
    {% if session['username'] %}
        ADMINISTRATION
        {% else -%}
        SE CONNECTER
    {% endif %}
</label>
<aside>
  <div class="top">
    <h2>Panel d'admin</h2>
      {% if session['username'] %}
        <a class="form-control btn btn-success" href="{{ url_for('panel') }}" role="button">Administration</a>
        {% else -%}
        <a class="form-control btn btn-dark" href="{{ url_for('login') }}" role="button">Se connecter</a>
    {% endif %}

    <center style="margin:20px 0;">
      <div>Avez-vous déjà vu ?</div>
      <img src="/static/images/panda-dab-mini.png" alt="Panda dab" class="shake" />
      <div class="hide-dab">Un <span style="color:#FFF;">Panda</span> qui DAB!</div></center>
      {% if session['username'] %}
        <a class="form-control btn btn-danger" href="{{ url_for('logout') }}" role="button">Déconnection</a>
        {% else -%}
    {% endif %}

  </div>
  <div class="bottom">
    <p>&copy; <script>
                  document.write(new Date().getFullYear());
                </script> by Florian G.</p>
  </div>
</aside>
<article>
<div class="masonry-wrapper"><h1>Documents de l'entreprise</h1></div>
  <div class="masonry-wrapper"><div class="masonry">

      {% for x in content %}
      <div class="masonry-item">
        <div class="masonry-content">
          <div class="category-header"><p>{{x.catName}}</p></div>
          <div class="masonry-description">
            {% for doc in docs %}
              {% if x.catName == doc.catName %}
                <div class="ged-document">
                  <a href="{{doc.docURI}}" title="{{doc.docDesc}}">
                <img src="/static/icones/{{doc.fileType}}_mini.png" alt="{{doc.fileType}}" style="display:inline;" width="11" height="15" />
                    <p style="display:inline;">{{doc.docName}}</p>
                  <span style="font-size:12px; color: #ccc !important;;">{{doc.docUpdate.strftime('%d %b %y')}}</span>
                    </a>

                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
     {% endfor %}

</div>
      <div class="copyright_flo">
              <p>
                🐼 GEDpanda &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                | Made in
                <i
                  class="fas fa-plus-square"
                  style="color: #e44042; padding: 0 4px;"
                ></i>
                with
                <i
                  class="fas fa-heart"
                  style="color: #e44042; padding: 0 4px;"
                ></i>
                by
                <a href="http://fl0.me" target="_blank">Florian G.</a>
              </p>
            </div>
  </div>
  </article>

  <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>

  <script>
    //$( ".pandahide" ).first().css( "display", "none" );
    //Konami Code
    var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";

    $(document).keydown(function(e) {

      kkeys.push( e.keyCode );

      if ( kkeys.toString().indexOf( konami ) >= 0 ) {

        $(document).unbind('keydown',arguments.callee);

        // do something awesome
        $("body").addClass("konami");
        $("h1").text("Voulez-vous jouer ?");

      }

    });
  </script>
  <script>

/**
 * Set appropriate spanning to any masonry item
 *
 * Get different properties we already set for the masonry, calculate
 * height or spanning for any cell of the masonry grid based on its
 * content-wrapper's height, the (row) gap of the grid, and the size
 * of the implicit row tracks.
 *
 * @param item Object A brick/tile/cell inside the masonry
 * @link https://w3bits.com/css-grid-masonry/
 */
function resizeMasonryItem(item){
  /* Get the grid object, its row-gap, and the size of its implicit rows */
  var grid = document.getElementsByClassName('masonry')[0];
  if( grid ) {
    var rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap')),
        rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows')),
        gridImagesAsContent = item.querySelector('img.masonry-content');

    /*
     * Spanning for any brick = S
     * Grid's row-gap = G
     * Size of grid's implicitly create row-track = R
     * Height of item content = H
     * Net height of the item = H1 = H + G
     * Net height of the implicit row-track = T = G + R
     * S = H1 / T
     */
    var rowSpan = Math.ceil((item.querySelector('.masonry-content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));

    /* Set the spanning as calculated above (S) */
    item.style.gridRowEnd = 'span '+rowSpan;
    if(gridImagesAsContent) {
      item.querySelector('img.masonry-content').style.height = item.getBoundingClientRect().height + "px";
    }
  }
}

/**
 * Apply spanning to all the masonry items
 *
 * Loop through all the items and apply the spanning to them using
 * `resizeMasonryItem()` function.
 *
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
function resizeAllMasonryItems(){
  // Get all item class objects in one list
  var allItems = document.querySelectorAll('.masonry-item');

  /*
   * Loop through the above list and execute the spanning function to
   * each list-item (i.e. each masonry item)
   */
  if( allItems ) {
    for(var i=0;i>allItems.length;i++){
      resizeMasonryItem(allItems[i]);
    }
  }
}

/**
 * Resize the items when all the images inside the masonry grid
 * finish loading. This will ensure that all the content inside our
 * masonry items is visible.
 *
 * @uses ImagesLoaded
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
function waitForImages() {
  //var grid = document.getElementById("masonry");
  var allItems = document.querySelectorAll('.masonry-item');
  if( allItems ) {
    for(var i=0;i<allItems.length;i++){
      imagesLoaded( allItems[i], function(instance) {
        var item = instance.elements[0];
        resizeMasonryItem(item);
        console.log("Waiting for Images");
      } );
    }
  }
}

/* Resize all the grid items on the load and resize events */
var masonryEvents = ['load', 'resize'];
masonryEvents.forEach( function(event) {
  window.addEventListener(event, resizeAllMasonryItems);
} );

/* Do a resize once more when all the images finish loading */
waitForImages();

</script>

</body>
</html>
