<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Login</title>
     <!--- <link rel="stylesheet" href="{{ url_for('static', filename='css/style-flo.css') }}"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <style>
        body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#f2f0f1;
  color: #333333;
}

.login-box
 {
  max-width: 600px;
  margin: 5% auto 0;
  position: relative;
  background: #dadada;
 }
 .login-header
 {
  text-align: center;
  font-size: 26px;
  padding:20px 0;
  background: #0074D9;
  color:#fff;
  position: relative;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
 }
 .login-body
 {
  padding: 20px;
  line-height: 2;
 }
.msg {
color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
padding: .75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
}

.form-control {
    padding: 8px 12px !important;
}
.input-group {
   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}



     </style>
 </head>
 <body>
  <div class="login-box" >
  <div class="login-header">Connection à la GED 📑 </div>
  <div class="login-body">
    <p>Formulaire d'identification à la gestion éléctronique de documents.</p>
    <form class="form-group" action="{{ url_for('login') }}" method="post">
        <p><strong>Nom d'utilisateur</strong> (admin)</p>
        <input type="text" class="form-control" name="username" placeholder="" id="username" required>
        <p></p>
        <p><strong>Mot de passe</strong> (toto)</p>
        <input type="password" class="form-control" name="password" placeholder="" id="password" required>
        <p></p>
        <input type="submit" value="Se connecter" class="form-control btn btn-success " name="">
    </form>
      <p><a href="{{ url_for('librairie') }}">Revenir aux documents</a></p>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </div>
 </div>
 </body>
</html>
