<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">-->
  </head>
  <body>
    <h1>Téléverser document</h1>
    <form method="POST" action="{{ url_for('upload_files') }}" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Envoyer"></p>
    </form>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>-->
  </body>
</html>
