{% extends "base.html" %}
{% block title %} Ajouter une Catégorie (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin-top:30px;">
			<div class="card bg-light mb-3">
					<h3 class="card-header">Ajouter une nouvelle Catégorie</h3>

				<div class="card-body">
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						<strong class="text-primary">{{ form.nom_genre_wtf.label }}</strong><br>
						{{ form.nom_genre_wtf(class="form-control", size=32) }}<br>
						{% for error in form.nom_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<div>
						<strong class="text-primary">{{ form.desc_genre_wtf.label }}</strong><br>
						{{ form.desc_genre_wtf(class="form-control", cols=50, rows=5) }}<br>
						{% for error in form.desc_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</div>
					<p>
						<strong class="text-primary">{{ form.rang_genre_wtf.label }}</strong><br>
						{{ form.rang_genre_wtf(class="form-control", size=32) }}<br>
						{% for error in form.rang_genre_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
				</div></div>
		</div>
	</div>
</div>
{% endblock %}

