{% extends "base.html" %}
{% block title %} Afficher CATEGORY {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Catégories à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
				<p><a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter une catégorie</a> --|-- <a class="btn btn-primary" href="{{ url_for('dragorder') }}" role="button">Réorganiser catégories</a></p>
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Catégorie
                        </th>
                        <th class="align-middle">
							Description
                        </th>
						<th class="align-middle">
							Rang
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_cat }}
						</td>
						<td class="align-middle">
							{{ row.catName }}
						</td>
						<td class="align-middle">
							{{ row.catDesc }}
						</td>
						<td class="align-middle">
							{{ row.catRang }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('genre_update_wtf', id_genre_btn_edit_html=row.id_cat) }}" role="button">📝</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.id_cat) }}" role="button">🗑️
</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucune catégorie.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

