{% extends "base.html" %}
{% block title %} Documents de la GED {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
	<div class="col-md-12" style="margin-top:30px;">
			<h1>
				Tous les documents de la GED
			</h1>
			<a class="btn btn-primary" href="{{ url_for('documents_ajouter_wtf') }}" role="button">Ajouter un document</a>
            <table id="table-flow" class="table table-striped">
            {% if data %}
				<thead>
					<tr class="table-dark">
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Nom
						</th>
						<th class="" >
						  Chemin URI
						</th>
						<th class="" >
						  Description
						</th>
						<th class="" >
						  Catégories
						</th>
						<th class="" >

						</th>
						<th class="" >

						</th>
					</tr>
				</thead>
			{% endif %}
			<tbody>
			{% for row in data %}
				<tr>
					  <td class="align-middle">
						  {{ row.id_document }}
					  </td>
					  <td class="align-middle">
						{{ row.docName }}
					  </td>
					  <td class="align-middle">
						{{ row.docURI|truncate(20, true)|default("", True) }}
					  </td>
					  <td class="align-middle">
						{{ row.docDesc|default("", True) }}
					  </td>

					<td class="align-middle">
						<span class="badge rounded-pill bg-dark">{{ row.GenresDoc|default("PAS DE CATEGORIE", True) }}</span>
						<a href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.id_document) }}" style="font-size:12px; text-decoration:none;">✏</a>
					  </td>

					<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('document_update_wtf', id_genre_btn_edit_html=row.id_document) }}" role="button">📝</a>
						</td>
					  <td class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('document_delete_wtf', id_genre_btn_delete_html=row.id_document) }}" role="button">🗑️</a>
					  </td>
				</tr>
			{% else %}

					<tr>
						<td>
							Aucun document.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('documents_ajouter_wtf') }}" role="button">Add</a>
						</td>
					</tr>

			{% endfor %}
			</tbody>

		</table>
	</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
		$(document).ready( function () {
			$('#table-flow').DataTable({
				//Flo réarrange les modules et enlève le nb de lignes
				//default is lfrtip
				dom: 'frtlp',
				//Flo 25 documents par page et menu changé
				pageLength: 25,
				lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Tous"] ],
				language: {
					url: '{{ url_for('static', filename='datatables/French.json') }}'
				},
				//Flo enlève le sorting des colonnes avec boutons
				columnDefs: [ {
					targets: 5,
					searchable: false,
					orderable: false
					},{
					targets: 6,
					searchable: false,
					orderable: false
					} ]
			});
		} );
    </script>
{% endblock %}
