{% extends "base.html" %}
{% block title %} Ajouter un DOCUMENT (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin-top:30px;">
			<div class="card bg-light mb-3">
					<h3 class="card-header">Ajouter un nouveau Document</h3>

				<div class="card-body">
			<!-- Flo changement de l'encryption type pour ewnvoyer des données > form-data -->
			<form action="" method="POST" novalidate enctype="multipart/form-data">
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						<strong class="text-primary">Type d'ajout <span class="text-warning">(switch)</span></strong><br>
						{{ form.choix_document_wtf(id="choix",class="form-select") }}<br>
						{% for error in form.choix_document_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						<strong class="text-primary">{{ form.nom_document_wtf.label }}</strong><br>
						{{ form.nom_document_wtf(class="form-control", size=32) }}<br>
						{% for error in form.nom_document_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p class="upload box">
						<strong class="text-primary">{{ form.file_document_wtf.label }}</strong><br>
						{{ form.file_document_wtf(class="form-control") }}<br>
						{% for error in form.file_document_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p class="chemin box">
						<strong class="text-primary">{{ form.url_document_wtf.label }}</strong><br>
						{{ form.url_document_wtf(class="form-control", size=32) }}<br>
						{% for error in form.url_document_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p class="chemin box">
						<strong class="text-primary">{{ form.type_document_wtf.label }}</strong><br>
						{{ form.type_document_wtf(class="form-select") }}<br>
						{% for error in form.type_document_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						<strong class="text-primary">{{ form.desc_document_wtf.label }}</strong><br>
						{{ form.desc_document_wtf(cols=45, rows=4, class="form-control") }}<br>
						{% for error in form.desc_document_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
					</div> <!-- fin body -->
				<div class="card-footer text-muted">
				  </div>
				</div> <!-- fin card -->
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
		$(document).ready(function(){
		$("select#choix").change(function(){
			$(this).find("option:selected").each(function(){
				var optionValue = $(this).attr("value");
				if(optionValue){
					$(".box").not("." + optionValue).hide();
					$("." + optionValue).show("slow");
				} else{
					$(".box").hide();
				}
			});
		}).change();
	});
    </script>
{% endblock %}
