{% extends "base.html" %}
{% block title %} Afficher DOCUMENTS {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin-top:30px;">
			<h1>
				Chemins des documents de la GED
			</h1>
			<a class="btn btn-primary" href="{{ url_for('documents_ajouter_wtf') }}" role="button">Ajouter un document</a>
            <table id="table-flow" class="table table-striped">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Document
                        </th>
						<th class="align-middle">
                            Chemin
                        </th>
                        <th class="align-middle">

                        </th>
                        <th class="align-middle">

                        </th>
                    </tr>
                </thead>
            {% endif %}


				<tbody>
				{% for row in data %}
					<tr>
						<td class="align-middle">
							{{ row.id_document }}
						</td>
						<td class="align-middle">
							{{ row.docName }}
						</td>
						<td class="align-middle">
							{{ row.docURI }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('document_update_wtf', id_genre_btn_edit_html=row.id_document) }}" role="button">📝</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('document_delete_wtf', id_genre_btn_delete_html=row.id_document) }}" role="button">🗑️</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td>
							Aucun document.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
		$(document).ready( function () {
			$('#table-flow').DataTable({
				//default is lfrtip
				dom: 'frtlp',
				language: {
					url: '{{ url_for('static', filename='datatables/French.json') }}'
				}
			});
		} );
    </script>
{% endblock %}

