{% extends "base.html" %}
{% block title %} Editer un DOCUMENT (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin-top:30px;">
			<div class="card bg-light mb-3">
					<h3 class="card-header">Editer le document</h3>

				<div class="card-body">
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						<strong class="text-primary">{{ form_update.nom_document_update_wtf.label }}</strong><br>
						{{ form_update.nom_document_update_wtf(class="form-control",size=32) }}<br>
						{% for error in form_update.nom_document_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>

					<p class="chemin box">
						<strong class="text-primary">{{ form_update.url_document_update_wtf.label }}</strong><br>
						{{ form_update.url_document_update_wtf(class="form-control", size=32) }}<br>
						{% for error in form_update.url_document_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						<strong class="text-primary">{{ form_update.desc_document_update_wtf.label }}</strong><br>
						{{ form_update.desc_document_update_wtf(cols=45, rows=4, class="form-control") }}<br>
						{% for error in form_update.desc_document_update_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
				</div></div>
		</div>
	</div>
</div>
{% endblock %}

